* {
    color: white;
    font-family: 'Poppins', sans-serif;
    transition: 0.3s ease-in-out;
    user-select: none;
    box-sizing: border-box;
}

.align {
    display: flex;
    justify-content: center;
    align-items: center;
}

body {
    background: linear-gradient(135deg, #1E1E2C, #252A34, #FF2E63);
    background-size: 400% 400%;
    animation: gradientAnimation 10s ease infinite;
    margin: 0;
    padding: 0;
    width: 100vw;
    text-align: center;
    padding-top: 5vh;
}

/* Gradient animation */
@keyframes gradientAnimation {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}


.turn-container {
    padding: 2px;
    width: 180px;
    height: 90px;
    margin: auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    position: relative;
}

.turn-container h3 {
    margin: 0;
    grid-column-start: 1;
    grid-column-end: 3;
    font-size: 1.2rem;
    color: #08D9D6;
}

.turn-container .turn-box {
    border: 3px solid #1e1e3800;
    font-size: 1.9rem;
    font-weight: 700;
    background-color: #252a3472;
    color: #69c3f0;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.turn-container .turn-box:nth-child(even) {
    border-right: none;
}

.bg {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 90px;
    height: 44px;
    background-color: #0041c2;
    z-index: -1;
    border-radius: 12px;
}

.main-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    height: 300px;
    width: 300px;
    margin: 30px auto;
    border: 2px solid #3E3E4C;
    border-radius: 12px;
    background-color: #2A2F3A;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

.box {
    cursor: pointer;
    font-size: 2.2rem;
    font-weight: 700;
    border: 2px solid #3E3E4C;
    background-color: #252A34;
    color: #EAEAEA;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: transform 0.2s, background-color 0.2s;
}

.box:hover {
    background-color: #FF2E63;
    transform: scale(1.1);
    color: #FFFFFF;
}

#play-again {
    background-color: #FF2E63;
    padding: 12px 30px;
    border: none;
    font-size: 1.2rem;
    border-radius: 8px;
    cursor: pointer;
    display: none;
    color: #FFFFFF;
    font-weight: bold;
    transition: all 0.3s ease;
}

#play-again:hover {
    padding: 12px 40px;
    background-color: #08D9D6;
    color: #000;
}


.watermark {
    position: fixed;
    bottom: 10px;
    right: 10px;
    font-size: 12px;
    color: rgba(255, 255, 255, 0.5); /* Transparent white */
    z-index: 1000;
    pointer-events: none; /* Ensure it doesn't interfere with interactions */
    font-family: 'Poppins', sans-serif;
    user-select: none;
    text-shadow: 0 1px 3px rgba(0, 0, 0, 0.5);
}
